main.about {
	@include respond($md) {
		position: relative;
		padding-top: 60px;
	}
	+ footer {
		background: $grey-bg;
	}
	.split {
		position: relative;
		min-height: 30vh;
		.left {
			position: relative;
			height: 30vh;
			min-height: 200px;
			overflow: hidden;
			@include respond($md) {
				height: auto;
				min-height: 0;
			}
			.top-image {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				min-height: 0;
			}
			.bg-image {
				position: relative;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				min-height: 0;
			}
			@include respond($md) {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 50%;
			}
		}
		.right {
			.section-header {
				padding: 0 5%;
				.container {
					@include respond($md) {
						padding-top: 3rem;
					}
				}
				h1, h2, h3, h4, h5 {
					max-width: 12em;
					margin: 0 auto;
					@include respond-smaller-than($huge) {
						font-size: 1.5rem;
					}
				}
			}
			@include respond($md) {
				display: flex;
				align-items: center;
				flex-direction: row;
				width: 50%;
				min-height: 30vh;
				margin-left: 50%;
				> div {
					width: 100%;
				}
			}
		}
	}
	nav.secondary {
		background: #000;
		height: 60px;
		text-align: center;
		align-items: center;
		display: none;
		position: fixed;
		left: 0;
		right: 0;
		top: 120px;
		z-index: 9;
		@include transition((top $header-transition-speed $ease));
		&.collapsed {
			top: $collapsed-header-height;
		}
		@include respond($lg) {
			top: 150px;
		}
		.container {
			max-width: 100%;
			width: 100%;
		}
		@include respond($md) {
			display: flex;
		}
		li {
			display: inline-block;
			padding: 0 .5em;
			@include respond($lg) {
				padding: 0 1em;
			}
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
			a {
				display: block;
				color: #fff;
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: $very-tracked-out;
				font-size: 10px;
				line-height: 1.25em;
				margin-bottom: .5em;
				@include font-smooth();
				@include respond($lg) {
					font-size: 12px;
				}
				&:hover {
					border-bottom-color: #fff;
				}
			}
		}
	}
	.about-info {
		.section-header {
			.container {
				@include respond($md) {
					padding: 4rem 0 1.333rem;
				}
			}
		}
		section {
			padding-bottom: 1.333rem;
			&:last-child {
				padding-bottom: 3rem;
			}
		}
		.follow-icons {
			a {
				border: none;
				display: inline-block;
				vertical-align: middle;
				padding: 10px;
				svg {
					display: block;
				}
			}
		}
		hr.tiny {
			margin-bottom: 1rem;
		}
		h5 {
			text-transform: uppercase;
			letter-spacing: $tracked-out;
			font-weight: 900;
			font-size: 14px;
			margin-bottom: 0;
		}
		p {
			text-transform: uppercase;
			letter-spacing: .075em;
		}
	}
}

.availability {
	.inline-grid {
		padding-bottom: $margin/3;
		*[class^="col"] {
			margin-bottom: $margin;
			img {
				opacity: .2;
				width: 150px;
				margin: 0 auto;
				display: block;
			}
			@include respond($sm) {
				width: 33.333%;
			}
			@include respond($lg) {
				width: 20%;
				margin-left: -.125em !important;
			}
		}
	}
}

.package-configs {
	.container.very-narrow {
		max-width: 30em;
	}
	.inline-grid {
		padding-bottom: $margin/3;
		*[class^="col"] {
			margin-bottom: $margin;
			text-align: center;
			img {
				margin-bottom: 1rem;
			}
			h5 {
				font-size: 12px;
				text-transform: uppercase;
				letter-spacing: $tracked-out;
				font-weight: 900;
			}
		}
	}
}

.team-list {

	h2 {
		margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: $tracked-out;
    @include respond-smaller-than($md) {
    	margin-bottom: 2rem;
    }
	}

	overflow: hidden;
	> .container > .flex-grid {
		// margin-top: -5%;
	}
	.col {
		margin-bottom: $margin;
		@include respond($sm) {
			width: 50%;
		}
		@include respond($lg) {
			width: 33.333%;
		}
	}

	.flex-col {
		width: 100%;
		flex-shrink: 0;
		margin-bottom: 2rem;
		@include respond($md) {
			margin-bottom: 3%;
			margin-bottom: 2rem;
		}
		@include respond($md) {
			width: 50%;
		}
		@include respond($lg) {
			width: 33.333%;
		}
		@include respond(900) {
			&.show-nipple {
				// .nipple-wrap {
				// 	height: 10px !important;
				// }
			}
		}
	}
}

.team-list .flex-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 3%;
	margin-left: (-$gutter/1.9);
  margin-right: (-$gutter/1.9);

  // Thumbnails
  li.flex-col {
  	@include respond($md) {
		  &:nth-of-type(n+0) { order: 0; }
			&:nth-of-type(n+4) { order: 2; }
			&:nth-of-type(n+7) { order: 4; }
			&:nth-of-type(n+10) { order: 6; }
			&:nth-of-type(n+13) { order: 8; }
			&:nth-of-type(n+16) { order: 10; }
			&:nth-of-type(n+19) { order: 12; }
			&:nth-of-type(n+22) { order: 14; }
			&:nth-of-type(n+25) { order: 16; }
			&:nth-of-type(n+28) { order: 18; }
			&:nth-of-type(n+31) { order: 20; }
			&:nth-of-type(n+34) { order: 22; }
			&:nth-of-type(n+37) { order: 24; }
			&:nth-of-type(n+40) { order: 26; }
			&:nth-of-type(n+43) { order: 28; }
			&:nth-of-type(n+46) { order: 30; }
		}

	}
	// Recipes
  div.flex-col {
  	@include respond($md) {
		  &:nth-of-type(n+0) { order: 1; }
			&:nth-of-type(n+4) { order: 3; }
			&:nth-of-type(n+7) { order: 5; }
			&:nth-of-type(n+10) { order: 7; }
			&:nth-of-type(n+13) { order: 9; }
			&:nth-of-type(n+16) { order: 11; }
			&:nth-of-type(n+19) { order: 13; }
			&:nth-of-type(n+22) { order: 15; }
			&:nth-of-type(n+25) { order: 17; }
			&:nth-of-type(n+28) { order: 19; }
			&:nth-of-type(n+31) { order: 21; }
			&:nth-of-type(n+34) { order: 23; }
			&:nth-of-type(n+37) { order: 25; }
			&:nth-of-type(n+40) { order: 27; }
			&:nth-of-type(n+43) { order: 29; }
			&:nth-of-type(n+46) { order: 31; }

			&:nth-of-type(n+2):nth-of-type(-n+3),
			&:nth-of-type(n+5):nth-of-type(-n+6),
			&:nth-of-type(n+8):nth-of-type(-n+9),
			&:nth-of-type(n+11):nth-of-type(-n+12),
			&:nth-of-type(n+14):nth-of-type(-n+15),
			&:nth-of-type(n+17):nth-of-type(-n+18),
			&:nth-of-type(n+20):nth-of-type(-n+21),
			&:nth-of-type(n+23):nth-of-type(-n+24),
			&:nth-of-type(n+26):nth-of-type(-n+27),
			&:nth-of-type(n+29):nth-of-type(-n+30),
			&:nth-of-type(n+32):nth-of-type(-n+33),
			&:nth-of-type(n+35):nth-of-type(-n+36),
			&:nth-of-type(n+38):nth-of-type(-n+39),
			&:nth-of-type(n+41):nth-of-type(-n+42),
			&:nth-of-type(n+44):nth-of-type(-n+45),
			&:nth-of-type(n+47):nth-of-type(-n+48) {
				margin-left: -100%;
			}
		}
	}


	.flex-col {
		.team-thumb-link {
			display: block;
			border: none;
			&:hover {
				.img-wrap {
					transform-style: preserve-3d;
					img {
						transform: translate3d(0, 0, 0) scale(1.03);
					}
				}
			}
		}

		&.inline-team {
			background: blue;
			min-width: 100%;
			width: 100%;
			flex-grow: 1;
			padding: 0;
			margin-top: 0;
			margin-bottom: 0;
			display: none;
			position: relative;
			z-index: 1;
			margin-bottom: 0;
			height: 0;
			opacity: 0;
			transition: height .4s .4s $ease, opacity .3s .4s $ease, color .3s .4s $ease;

			display: block;

			// @include respond($lg) {
			// 	display: block;
			// }

			&.nipple-left .nipple-wrap .nipple-container {
				transform: translate3d(0, 0, 0); // left
				@include respond-smaller-than($lg) {
					display: none;
				}
				@include respond-smaller-than($md) {
					display: block;
					transform: translate3d(#{100% + $gutter*3.25}, 0, 0);
				}
			}

			&.nipple-right .nipple-wrap .nipple-container {
				transform: translate3d(#{200% + $gutter*6.5}, 0, 0); // right
				@include respond-smaller-than($lg) {
					display: none;
				}
				@include respond-smaller-than($md) {
					display: block;
					transform: translate3d(#{100% + $gutter*3.25}, 0, 0);
				}
			}

			&.nipple-center .nipple-wrap .nipple-container {
				transform: translate3d(#{100% + $gutter*3.25}, 0, 0); // center
				@include respond-smaller-than($lg) {
					display: none;
				}
				@include respond-smaller-than($md) {
					display: block;
				}
			}

			.close-team {
		    color: red;
		    position: absolute;
		    z-index: 5;
		    right: -30px;
		    top: 30px;
		    cursor: pointer;
		    width: 40px;
		    height: 40px;
		    text-indent: -999px;
		    overflow: hidden;
	    	@include respond-smaller-than($md) {
					top: 20px;
					right: 0;
				}
		    &:after {
		    	content: '';
		    	display: block;
		    	width: 2px;
		    	height: 20px;
		    	transform: rotate(45deg);
		    	position: absolute;
		    	top: 50%;
		    	left: 50%;
		    	margin: -10px -1px;
		    	background: $text-color;
		    }
		    &:before {
		    	content: '';
		    	display: block;
		    	width: 20px;
		    	height: 2px;
		    	transform: rotate(45deg);
		    	position: absolute;
		    	top: 50%;
		    	left: 50%;
		    	margin: -1px -10px;
		    	background: $text-color;
		    }
			}
			.nipple-wrap {
				width: 100%;
				overflow: visible;
				position: absolute;
				top: 1px;
				left: $gutter/2;
				right: $gutter/2;
				z-index: 4;
				opacity: 0;
				transition: opacity .4s .4s $ease;
				.nipple-container {
					width: 33.333% - $gutter/1.5;
					position: absolute;
					left: 0;
					transition: transform .4s ease-in-out;
					div {
						width: 0;
						height: 0;
						border: 10px solid transparent;
						border-top: none;
						border-bottom-color: currentcolor;
						position: absolute;
						top: -10px;
						left: 50%;
						margin-left: -10px;
						transition: border .4s ease-in-out;
					}
				}
			}
			&.visible {
				height: auto;
				transition: height .3s $ease, opacity .3s $ease;
				opacity: 1;
				.container {
					transform: translate3d(0, 0, 0);
					opacity: 1;
					transition: opacity .2s .4s $ease, transform .2s .4s $ease;
				}
				.nipple-wrap {
					opacity: 1;
					transition: opacity .4s $ease;
				}

				display: block;

				@include respond-smaller-than($md) {
					height: auto !important;
			    margin-bottom: 2rem;
				}
			}
			.inline-team-wrap {
				height: 100%;
				position: relative;
				overflow: hidden;
				// transition: overflow 0s .5s $ease;
			}
			&:not(.visible) {
				.bg-color {
					// background: transparent !important;
				}
			}
			.bg-color {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: -100%;
				right: -100%;
				margin: 0 -100%;
				background-color: #ffffff;
				z-index: 1;
				transition: background .4s $ease;
			}
			.container {
				color: $text-color;
				width: 96%;
				z-index: 1;
				padding: 0rem 0 4rem;
				z-index: 2;
				opacity: 0;
				transform: translate3d(0, 20px, 0);
				transition: opacity .15s $ease, transform .15s $ease;
				@include respond($lg) {
					padding: 3rem 0;
				}
			}
			.team-section {
				margin-top: $base-line-height * 1.5;
				@include respond($lg) {
					margin-top: 0;
				}
				h3 {
					font-weight: 900;
					text-transform: uppercase;
					letter-spacing: $tracked-out;
					font-size: 12px;
					margin-bottom: 1em;
				}
				+ .team-section {
					@include respond($lg) {
						margin-top: $base-line-height * 1.5;
					}
				}
				.share-team {
					li {
						font-size: 14px;
						letter-spacing: .05em;
						position: relative;
						a {
							margin-left: 22px;
							.icon {
								display: block;
								width: 16px;
								position: absolute;
								left: 0;
								top: 50%;
								margin-left: -3px;
								transform: translate3d(0, -52%, 0);
								svg {
									margin: 0 auto;
									transform: scale(.8);
									display: block;
									* {
										fill: $text-color;
									}
								}
							}
						}
					}
				}
				.team-steps {
					counter-reset: step-counter;
					li {
						margin-bottom: $base-line-height/2;
						position: relative;
						padding-left: 32px;
						@include respond($lg) {
							padding-left: 0;
						}
						&:before {
							content: counter(step-counter, decimal-leading-zero);
							counter-increment: step-counter;
							position: absolute;
							left: 0;
							padding-right: 15px;
							font-weight: 900;
							font-size: 12px;
							top: -2px;
							letter-spacing: $tracked-out;
							@include respond($lg) {
								left: auto;
								right: 100%;
							}
						}
					}
				}
			}

			.team-description {
				column-count: 2;
		    column-gap: 30px;
				@include respond-smaller-than($lg) {
					column-count: 1;
				}
			}
		}
	}
}