.easy-locator-wrap {
	padding-bottom: $margin;
	iframe#EasyLocator {
		width: 100% !important;
		@include respond($md) {
			// height: 600px !important;
		}
		body {
			border: 3px solid red;
		}
	}
	#container {
		width: 100% !important;
		background: blue !important;
	}
}

iframe#EasyLocator {
	height: 472px !important;
}