@import 'fancy-menu-icon';

header {
	color: $text-color;
	background: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	height: $collapsed-header-height;
	height: 96px;
	@include transition((height $header-transition-speed $ease, background $header-transition-speed $ease));
	@include respond($md) {
		height: 120px;
	}
	@include respond($lg) {
		height: $header-height;
	}
	.container {
		height: $collapsed-header-height;
		top: 50%;
		margin-top: -($collapsed-header-height/2);
		@include respond($lg) {
			width: 100%;
			max-width: none;
		}
	}
	.menu-link {
		@include respond($lg) {
			display: none;
		}
	}
	.logo {
		display: block;
		width: 76px;
		color: transparent;
		padding: 0;
		@include transition(height $header-transition-speed $ease);
		z-index: 2;
		border: none;
		margin: 0 auto;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		height: $collapsed-header-height - 30px;
		height: 60px;
		.mixers {
			// display: none;
			// @include respond($md) {
			// 	display: block;
			// }
		}
		@include respond($md) {
			height: 60px;
		}
		@include respond($lg) {
			height: 86px;
		}
		svg {
			height: 100%;
			width: 100%;
			// transform: translate3d(0, 13%, 0);
			transition: all $header-transition-speed $ease;
			@include respond($md) {
				transform: translate3d(0, 0, 0);
				height: 100%;
			}
			* {
				fill: $text-color;
			}
			.mixers {
				opacity: 1;
			}
			@include respond($lg) {
				
			}
		}
	}

	nav {
		// display: none;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding-top: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		min-height: 350px;
		overflow-x: hidden;
		overflow-y: auto;
		opacity: 0;
		transition: background $header-transition-speed $ease, visibility $header-transition-speed $ease;
		@include respond($lg) {
			opacity: 1;
			visibility: inherit;
			display: block;
			@include clearfix();
			padding-top: 0;
			z-index: 0;
			position: static;
			background: transparent;
			top: auto;
			right: auto;
			bottom: auto;
			left: auto;
			overflow: hidden;
			min-height: 0;
		}
		.mobile-menu-open & {
			opacity: 1;
			visibility: visible;
			background: rgba(coral, .9);
			transition: opacity $header-transition-speed $ease, background $header-transition-speed $ease, visibility $header-transition-speed $ease;
		}
		> div {
			width: 100%;
		}
		a {
			border: none;
			text-transform: uppercase;
			letter-spacing: $very-tracked-out;
			font-weight: 700;
			font-size: 14px;
			display: block;
			text-align: center;
			position: relative;
			cursor: pointer;
			padding: .75em;
			@include respond($lg) {
				font-size: 10px;
				padding: 0;
			}
			&:after {
				@include respond($lg) {
					content: '';
					display: block;
					height: 2px;
					left: 0;
					right: .15em;
					bottom: 50%;
			    margin-bottom: -1em;
					background: $text-color;
					position: absolute;
					transform: translate3d(0, 8px, 0);
					opacity: 0;
					transition: opacity $med-speed $ease, transform $med-speed $ease, background $med-speed $ease;
				}
			}
			&:hover {
				&:after {
					transform: translate3d(0, 0, 0);
					opacity: 1;
				}
			}
			@include respond($lg) {
				display: inline-block;
				height: 76px;
				padding: 32px 0 32px;
				margin: 0;
				line-height: 1em;
			}
			@include respond($xlg - 100) {
				font-size: 12px;
			}
		}
		.left {
			display: inline;
			@include respond($lg) {
				padding-right: 40px;
				text-align: center;
				width: 50%;
				display: inline-block;
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
			}
			a {
				@include respond-smaller-than($lg) {
					color: $text-color;
					opacity: 0;
					transform: translate3d(0, 30px, 0);
					transition: transform $header-transition-speed $ease, opacity $header-transition-speed $ease;
					&:nth-child(1) {
						transition-delay: 0s;
					}
					&:nth-child(2) {
						transition-delay: .05s;
					}
					&:nth-child(3) {
						transition-delay: .1s;
					}
					.mobile-menu-open & {
						opacity: 1;
						transform: translate3d(0, 0, 0);
					}
				}
				@include respond($lg) {
					margin-left: 11%;
					&:first-child {
						margin-left: 0;
					}
				}
				@include respond($huge) {
					margin-left: 13%;
				}
			}
		}
		.right {
			display: inline;
			@include respond($lg) {
				padding-left: 55px;
				text-align: center;
				width: 50%;
				display: inline-block;
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 1;
			}
			@include respond($huge) {
				padding-left: 50px;
			}
			a {
				@include respond-smaller-than($lg) {
					color: $text-color;
					opacity: 0;
					transform: translate3d(0, 30px, 0);
					transition: transform $header-transition-speed $ease, opacity $header-transition-speed $ease;
					&:nth-child(1) {
						transition-delay: .15s;
					}
					&:nth-child(2) {
						transition-delay: .2s;
					}
					&:nth-child(3) {
						transition-delay: .25s;
					}
					.mobile-menu-open & {
						opacity: 1;
						transform: translate3d(0, 0, 0);
					}
				}
				@include respond($lg) {
					margin-right: 8%;
					&:last-child {
						margin-right: 0;
					}
				}
				@include respond($huge) {
					margin-right: 10%;
				}
			}
		}
	}

	&.inverted {
		background: transparent;
		a {
			color: #fff;
			&:after {
				background: #fff;
			}
		}
		.logo {
			svg {
				* {
					fill: #fff;
				}
			}
		}
		.menu-icon {
			&:before,
			&:after,
			.center,
			.center:before {
				background: #fff;
			}
		}
	}

	&.transparent {
		background: transparent;
	}

}

header.collapsed,
header.inverted.collapsed,
header.inverted.transparent {
	background: #fff;
	height: 60px;
	@include respond($md) {
		height: $collapsed-header-height;
	}
	a {
		color: $text-color;
		&:after {
			background: $text-color;
		}
	}
	.logo {
		height: 46px;
		@include respond($md) {
			height: $collapsed-header-height - 22px;
		}
		svg {
			transform: translate3d(0, 13%, 0);
			* {
				fill: $text-color
			}
			.mixers {
				opacity: 0;
				transform: translate3d(0, -20px, 0);
			}
		}
	}
	.menu-icon {
		&:before,
		&:after,
		.center,
		.center:before {
			background: $text-color;
		}
	}
}

header.desktop-dark {
	background: transparent;
	.logo {
		svg {
			transform: translate3d(0, 13%, 0);
			* {
				fill: $text-color;
			}
		}
	}
	a {
		color: $text-color;
		&:after {
			background: $text-color;
		}
	}
}

header.desktop-light {
	background: transparent;
	.logo {
		svg {
			transform: translate3d(0, 13%, 0);
			* {
				fill: #fff;
			}
		}
	}
}

header.mobile-dark {
	background: transparent;
	@include respond-smaller-than($lg) {
		.logo {
			svg {
				transform: translate3d(0, 13%, 0);
				* {
					fill: $text-color;
				}
			}
		}
		a {
			color: $text-color;
			&:after {
				background: $text-color;
			}
		}
		.menu-icon {
			&:before,
			&:after,
			.center,
			.center:before {
				background: $text-color;
			}
		}
	}
}

header.mobile-light {
	background: transparent;
	@include respond-smaller-than($lg) {
		.logo {
			svg {
				transform: translate3d(0, 13%, 0);
				* {
					fill: #fff;
				}
			}
		}
	}
}

.mobile-menu-open header {
	@include respond-smaller-than($md) {
		height: 60px;
	}
	@include respond-smaller-than($lg) {
		height: $collapsed-header-height;
	}
	@include respond-smaller-than($lg) {
		a {
			color: $text-color;
			&:after {
				background: $text-color;
			}
		}
		.logo {
			height: 46px;
			@include respond($md) {
				height: $collapsed-header-height - 22px;
			}
			svg {
				transform: translate3d(0, 13%, 0);
				* {
					fill: $text-color
				}
				.mixers {
					opacity: 0;
					transform: translate3d(0, -20px, 0);
				}
			}
		}
		.menu-icon {
			&:before,
			&:after,
			.center,
			.center:before {
				background: $text-color;
			}
		}
	}
}