.recipe-list {
	.col {
		margin-bottom: $margin;
		@include respond($sm) {
			width: 50%;
		}
		@include respond($lg) {
			width: 33.333%;
		}
	}
	.recipe-mixer {
		display: block;
		text-align: center;
		text-transform: capitalize;
		font-size: .875rem;
		line-height: 1.333em;
		@include respond($md) {
			font-size: 1rem;
		}
	}
	.flex-col {
		width: 100%;
		flex-shrink: 0;
		padding-bottom: 6.5%;
		@include respond($md) {
			width: 50%;
		}
		@include respond($lg) {
			width: 33.333%;
		}
	}
}

.flex-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 3%;
	margin-left: (-$gutter/1.9);
  margin-right: (-$gutter/1.9);
	.flex-col {
		padding-left: $gutter/2;
		padding-right: $gutter/2;
		order: 0;
		position: relative;
		&:not(.inline-recipe) {
			@include respond($md) {
				.nipple-wrap {
					width: 20px;
					height: 10px;
					position: absolute;
					bottom: 0;
					left: 50%;
					margin-left: -10px;
					overflow: hidden;
					transition: height .3s $ease;
					height: 0; // change to 10px show nipple
					.nipple {
						content: '';
						display: block;
						width: 0;
						height: 0;
						border: 10px solid transparent;
						border-top: none;
						border-bottom-color: #ffc99b;
					}
				}
			}
		}
		@include respond($md) {
			&:nth-child(n+1):nth-child(odd):nth-child(-n+3) {
				order: 1;
			}
			&:nth-child(n+2):nth-child(even):nth-child(-n+4) {
				order: 2;
			}
			&:nth-child(n+5):nth-child(odd):nth-child(-n+7) {
				order: 3;
			}
			&:nth-child(n+6):nth-child(even):nth-child(-n+8) {
				order: 4;
			}
			&:nth-child(n+9):nth-child(odd):nth-child(-n+11) {
				order: 5;
			}
			&:nth-child(n+10):nth-child(even):nth-child(-n+12) {
				order: 6;
			}
			&:nth-child(n+13):nth-child(odd):nth-child(-n+15) {
				order: 7;
			}
			&:nth-child(n+14):nth-child(even):nth-child(-n+16) {
				order: 8;
			}
			&:nth-child(n+17):nth-child(odd):nth-child(-n+19) {
				order: 9;
			}
			&:nth-child(n+18):nth-child(even):nth-child(-n+20) {
				order: 10;
			}
			&:nth-child(n+21):nth-child(odd):nth-child(-n+23) {
				order: 11;
			}
			&:nth-child(n+22):nth-child(even):nth-child(-n+24) {
				order: 12;
			}
		}

		@include respond($lg) {
			&:nth-child(n+1):nth-child(odd):nth-child(-n+5) {
				order: 1;
			}
			&:nth-child(n+2):nth-child(even):nth-child(-n+6) {
				order: 2;
			}
			&:nth-child(n+7):nth-child(odd):nth-child(-n+11) {
				order: 3;
			}
			&:nth-child(n+8):nth-child(even):nth-child(-n+12) {
				order: 4;
			}
			&:nth-child(n+13):nth-child(odd):nth-child(-n+17) {
				order: 5;
			}
			&:nth-child(n+14):nth-child(even):nth-child(-n+18) {
				order: 6;
			}
			&:nth-child(n+19):nth-child(odd):nth-child(-n+23) {
				order: 7;
			}
			&:nth-child(n+20):nth-child(even):nth-child(-n+24) {
				order: 8;
			}
		}

		&.inline-recipe {
			min-width: 100%;
			flex-grow: 1;
			background-color: #ffc99b;
			padding-bottom: 0;
			display: none;
			position: relative;
			//max-height: 0; // change to max-height: 600px to show
			margin-bottom: 0; // change to margin-bottom: $gutter to show
			transition: max-height .5s $ease, margin .3s $ease;
			.inline-recipe-wrap {
				height: 100%;
				position: relative;
				overflow: hidden;
			}
			@include respond($md) {
				display: block;
			}
			.bg-color {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: -100%;
				right: -100%;
				background-color: #ffffff;
				z-index: 0;
			}
			.container {
				width: 100%;
				z-index: 1;
				padding: 0rem 0 4rem;
				@include respond($lg) {
					padding: 3rem 0;
				}
			}
			.recipe-section {
				margin-top: $base-line-height * 1.5;
				max-width: 400px;
				@include respond($lg) {
					margin-top: 0;
				}
				h3 {
					font-weight: 900;
					text-transform: uppercase;
					letter-spacing: $tracked-out;
					font-size: 12px;
					margin-bottom: 1em;
				}
				+ .recipe-section {
					@include respond($lg) {
						margin-top: $base-line-height * 1.5;
					}
				}
				.share-recipe {
					li {
						font-size: 14px;
						letter-spacing: .05em;
					}
				}
				.recipe-steps {
					counter-reset: step-counter;
					li {
						margin-bottom: $base-line-height/2;
						position: relative;
						padding-left: 32px;
						@include respond($lg) {
							padding-left: 0;
						}
						&:before {
							content: counter(step-counter, decimal-leading-zero);
							counter-increment: step-counter;
							position: absolute;
							left: 0;
							padding-right: 15px;
							font-weight: 900;
							font-size: 12px;
							top: -2px;
							letter-spacing: $tracked-out;
							@include respond($lg) {
								left: auto;
								right: 100%;
							}
						}
					}
				}
			}
		}
	}
}