.home {
	.text-overlay {
		color: #fff;
		width: 100%;
		height: auto;
		position: absolute;
		top: calc(100px + 7%);
		right: 0;
		z-index: 2;
		text-align: center;
		display: block;
		@include respond($home-breakpoint) {
			top: calc(100px + 35%);
		}
		&.desktop-dark {
			color: $text-color;
			.headline .h1-wrap .q-question svg * {
				fill: $text-color
			}
		}
		&.desktop-light {
			color: #fff;
			.headline .h1-wrap .q-question svg * {
				fill: #fff
			}
		}
		&.mobile-dark {
			@include respond-smaller-than($home-breakpoint) {
				color: $text-color;
				.headline .h1-wrap .q-question svg * {
					fill: $text-color
				}
			}
		}
		&.mobile-light {
			@include respond-smaller-than($home-breakpoint) {
				color: #fff;
				.headline .h1-wrap .q-question svg * {
					fill: #fff
				}
			}
		}
		.container {
			@include respond($home-breakpoint) {
				max-width: none;
				width: 90%;
			}
			@include respond($xlg) {
				width: 85%;
			}
			@include respond($xlg) {
				width: 80%;
			}
		}
		.headline {
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: $tracked-out;
			font-size: 1.2rem;
			line-height: 1.5em;
			@include font-smooth();
			max-width: 15em;
			margin: 0 auto;
			padding-bottom: 5em;
			text-align: center;
			transform: translate3d(0, 50px, 0);
			opacity: 0;
			animation: transition-in 1s .5s $ease forwards;
			@include respond($sm) {
				font-size: 1.5em;
			}
			// @include respond($xlg) {
			// 	font-size: 1.75em;
			// }
			@include respond($home-breakpoint) {
				// font-size: 1.em;
				text-align: left;
				width: 20em;
				max-width: 60%;
				margin: 0;
				padding-bottom: 0;
			}
			@include respond($huge) {
				font-size: 2em;
			}
			.h1-wrap {
				display: block;
				position: relative;
				@include respond($home-breakpoint) {
					padding-left: 3.5em;
				}
				.text {
					display: inline;
					@include respond($home-breakpoint) {
						display: block;
					}
				}
				.q-question {
					display: inline-block;
					width: 2.4em;
					margin-bottom: .5em;
					text-align: left;
					line-height: 1em;
					margin: -.1em -.25em -.7em 0;
					@include respond($home-breakpoint) {
						display: block;
						position: absolute;
						top: .25em;
						left: 0;
						margin: 0 0 0 -.4em;
						width: 3.75em;
					}
					svg {
						display: inline-block;
						vertical-align: middle;
						height: 2em;
						transition: none;
						margin-top: -.2em;
						@include respond($home-breakpoint) {
							height: 3em;
							margin: 0 0 -.7em 0;
						}
						.mixers {
							display: none;
						}
						* {
							transition: none;
							fill: #fff;
						}
					}
					.colon {
						line-height: 1em;
						margin-top: -.25em;
						margin-left: -.25em;
						display: inline-block;
						vertical-align: middle;
						font-size: 1.25em;
						@include respond($home-breakpoint) {
							margin-left: -.1em;
						}
					}
				}
			}
		}
	}
}

.home-bg-desktop {
	display: none;
	@include respond($home-breakpoint) {
		display: block;
	}
}

.home-bg-mobile {
	display: none;
	@include respond-smaller-than($home-breakpoint) {
		display: block;
	}
}