main.recipe {
	.recipe-card {
		.instructions {
			.container {
				padding-left: 0;
				padding-right: 0;
				max-width: 600px;
				width: $site-width;
				@include respond($md) {
					width: 70%;
				}
			}
		}
		.share-recipe {
			text-align: center;
			width: 100%;
			padding-bottom: $margin * 2;
			@include respond($md) {
				padding-bottom: 0;
			}
			li {
				display: inline-block;
				vertical-align: middle;
				padding-top: 2rem;
				a {
					border: none;
					padding: 12px;
					display: block;
					.icon {
						display: block;
						svg {
							display: block;
							* {
								fill: $text-color;
							}
						}
					}
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}