main.recipe {
	.recipe-card {
		.instructions {
			.container {
				padding-left: 0;
				padding-right: 0;
				max-width: 600px;
				width: $site-width;
				@include respond($md) {
					width: 70%;
				}
			}
		}
	}
}