.recipe-card {
	@include respond($md) {
		background: #fff;
	}
	@include respond($lg) {
		display: flex;
		align-items: stretch;
	}
	.image {
		position: relative;
		overflow: hidden;
		padding-bottom: 100%;
		flex-grow: 1;
		.bg-image {
			position: absolute;
			min-height: 100%;
			width: 100%;
			img {
				display: none;
			}
		}
		@include respond($lg) {
			width: 50%;
			padding-bottom: 50%;
			background: #ccc;
		}
	}
	.instructions {
		text-align: center;
		transform-style: preserve-3d;
		position: relative;
		@include respond($lg) {
			display: flex;
			align-items: center;
			text-align: left;
		}
		.container {
			width: 100%;
			padding: 10px 0 0;
			@include respond($md) {
				padding: 40px 50px 55px;
			}
		}
		@include respond($lg) {
			width: 50%;
		}
		.recipe-title {
			font-size: 20px;
			letter-spacing: $tracked-out;
			font-weight: 900;
			text-transform: uppercase;
			display: block;
			width: 100%;
			text-align: center;
			margin: .5em 0 .7em;
			@include respond($md) {
				margin-bottom: 1em;
				margin-top: 0;
			}
		}
		.recipe-section-title {
			font-size: 12px;
			letter-spacing: $tracked-out;
			font-weight: 900;
			text-transform: uppercase;
			margin-bottom: .5em;
			margin-top: 2em;
		}
		li {
			list-style: none;
		}
	}
	
	.curved-serves {
		width: 55px;
		height: 40px;
		position: relative;
		display: block;
		margin: 2em auto 0;
		@include respond($md) {
			margin: 0;
			position: absolute;
			top: 23px;
			right: 30px;
		}
		.letter {
			position: absolute;
			line-height: 1em;
			height: 40px;
			transform-origin: 50% 100%;
			left: 50%;
			bottom: 0;
			font-size: 10px;
			margin-left: -10px;
			width: 20px;
			text-align: center;
			letter-spacing: 0;
			text-transform: uppercase;
			font-weight: 700;
			display: block;
			z-index: 1;
			@include font-smooth();
			&.s {
				transform: rotate(-45deg);
			}
			&.e {
				transform: rotate(-27deg);
			}
			&.r {
				transform: rotate(-9deg);
			}
			&.v {
				transform: rotate(9deg);
			}
			&.e2 {
				transform: rotate(27deg);
			}
			&.s2 {
				transform: rotate(45deg);
			}
		}
	}
	.number {
		position: relative;
		z-index: 2;
		display: block;
		text-align: center;
		font-weight: 700;
		width: 100%;
		font-size: 14px;
		line-height: 1em;
		padding-top: 20px;
		letter-spacing: $very-tracked-out;
		margin-left: $very-tracked-out/2;
		@include font-smooth();
	}
}

.recipe-slideshow {
	.slick-arrow {
		width: 34px;
		height: 50px;
		text-indent: -1000px;
		overflow: hidden;
		border: none;
		background-color: transparent;
		position: absolute;
		top: 50%;
		margin-top: -25px;
		background-size: 34px auto;
		background-repeat: no-repeat;
		background-position: center;
		padding: 0;
		cursor: pointer;
		transition: transform $med-speed $ease;
		@include respond-smaller-than($md) {
			display: none !important;
		}
		&:active {
			transform: scale(.7);
		}
		&.slick-prev {
			left: -64px;
			background-image: url(../images/arrow-left-lg.svg);
		}
		&.slick-next {
			right: -64px;
			background-image: url(../images/arrow-right-lg.svg);
		}
	}
	.slick-dots {
		text-align: center;
		padding-top: 15px;
		@include respond($md) {
			display: none !important;
		}
		li {
			display: inline-block;
			margin-right: 12px;
			&:last-child {
				margin-right: 0;
			}
			&.slick-active {
				button {
					background: $text-color;
				}
			}
			button {
				text-indent: -9999px;
				overflow: hidden;
				width: 8px;
				height: 8px;
				border: 2px solid $text-color;
				background: transparent;
				border-radius: 50%;
				padding: 0;
			}
		}
	}
}