body {
	overflow-x: hidden;
	overflow-y: scroll;
}

.content {
	position: relative;
}
// .cc {
//   position: fixed; 
//   width: 100%; 
//   height: 100%; 
//   top: 0; 
//   overflow-y: auto;
//   overflow-x: hidden;
//   -webkit-overflow-scrolling: touch;
// }

// Transition blocks in when they come into view
.transition-in {
	opacity: 0;
	transform: translate3d(0, 40px, 0);
	transition: opacity .5s $ease, transform .5s $ease;
	&.visible {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}