// Grid Structure
$site-width : 85%;

$max-site-width : 1300px;
$columns : 12;
$gutter : (100% - $site-width)/4; // this can be in % or px

$margin : (100% - $site-width)/2;
$container-margin : calc(#{$margin} * 1.15);

$header-spacing : 10px;

// Breakpoints
$sm : 450;
$md : 600;
$lg : 850;
$xlg : 1050;
$huge : 1500;

// Colors
$bg-color : #fff;
$grey-bg : #f2f2f3;
$primary-color : #000;
$text-color : #333;
$light-text-color : rgba($text-color, .4);
$hr-color : #ddd;
$hr-styles : 1px solid $hr-color;
$accordion-styles : 1px solid $light-text-color;

// Links
$link-color : $text-color;
$link-hover-color : $primary-color;
$dropdown-color : $light-text-color;
$nav-color : $text-color; 
$nav-hover-color : $primary-color;

// Typography
$main-font: 'Futura', sans-serif;
$secondary-font: $main-font;
$base-font-size : 16px;
$base-line-height : 1.65em;
$tracked-out: .15em;
$very-tracked-out: .2em;

// Text Highlights
$highlight-bg : $light-text-color;
$highlight-color : $bg-color;

// Text Inputs
$input-bg : transparent;
$input-border : 1px solid $light-text-color;
$input-border-radius : 0;
$input-focus-bg : transparent;
$input-focus-color : $text-color;
$input-focus-border : 1px solid $primary-color;
$placeholder-color : $text-color;
$placeholder-focus-color : transparent;
$input-padding: 0px 10px 0px 10px;
$input-line-height: 40px; // Make $btn-medium-height

// Select Fields
$select-border : $input-border;
$select-bg : transparent;
$select-color : $light-text-color;

// Buttons
$btn-height: 40px;
  $btn-medium-height: 40px;
    $btn-tiny-height: 30px;
$btn-padding: 0px 20px 2px 20px;
  $btn-medium-padding: 0px 20px 2px 20px;
    $btn-tiny-padding: 0px 20px 2px 20px;

$btn-bg : transparent;
$btn-border: 2px solid $text-color;
$btn-color : $text-color;
$btn-hover-bg : $text-color;
$btn-border-radius : $input-border-radius;
$btn-hover-color : #fff;
$btn-hover-border: 2px solid $text-color;

$secondary-btn-border: 1px solid $light-text-color;
$secondary-btn-bg : transparent;
$secondary-btn-color : $light-text-color;
$secondary-btn-hover-bg : transparent;
$secondary-btn-border-radius : $input-border-radius;
$secondary-btn-hover-color : $primary-color;
$secondary-btn-hover-border: 1px solid $primary-color;

// Breakpoints
$sm : 450;
$md : 600;
$lg : 900;
$xlg : 1200;
$huge : 1500;

// Transitions
$fast-speed : .1s;
$slow-speed : .5s;
$med-speed : .25s;
$ease  : ease-in-out;
$fade-in-speed : .3s;

// Fancy Header Variables
$header-height: 150px;
$collapsed-header-height: 76px;
$header-transition-speed: .4s;

// Kirby Panel Login
$login-bg : $grey-bg;
$login-input-border : 2px solid #fff;
$login-input-bg : #fff;
$login-logo-height : 60px;